body{
  font-family: "Century Gothic";
/*  background-color: #EAF2F8;*/
  /*background-image: url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
  background-image: url("https://images.pexels.com/photos/977080/pexels-photo-977080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  /*background: -webkit- linear-gradient(-45deg, #5499C7, #EAF2F8);*/
}

#banner .heading{
  color: navy;
  text-align: center;
  letter-spacing: 5px;
}

#banner .heading h1{
  top: 50px;
  width: 200px;
  padding: 10px;
  margin: 200px auto 20px auto;
  border: 3px solid navy;
  float: center;
}

/*the slider is weird - having trouble centering and aligned with text */
.slidecontainer{
  padding: 40px 80px 70px 80px; /*to make it lower on the bottom*/
  background-color: white;
  opacity: 0.8;
  text-align: center;
}

.slider{
  -webkit-appearance: none; /*Override default CSS styles*/
  appearance: none;
  height: 25px;
  width: 40%; /*auto, max 40*/
  background: linear-gradient(to right, purple, orange);
  outline: none;
  opacity:0.7;
  /*new code from online*/
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: gray;
  cursor: pointer;
}

/* Use this to move labels and slider inline
h2{
  display: inline-block;
}
*/

.label1{
  float: left;
  padding-left: 20%;
  margin: 0px;
  letter-spacing: 1px;
  color: purple;
/* let's me move position */
  position: relative;
  left: 30px;
  bottom: 2px;
/*  border: 3px solid navy;*/
}

.label2{
  float: right;
  padding-right: 20%;
  margin: 0px;
  letter-spacing: 1px;
  color: orange;
/* let's me move position */
  position: relative;
  right: 50px;
  bottom: 2px;
/*  border: 3px solid navy;*/
}

.submit{
  text-align: center;
  padding: 40px;
}

.submit a{
  background: teal;
  border: 1px solid teal;
  border-radius: 5px;
  color: white;
  padding: 10px 12px;
  opacity: 0.50;
}
